@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Righteous";
  src: url("/Righteous-Regular.ttf") format("truetype");
}

.righteous {
  font-family: "Righteous", sans-serif !important;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bg {
  background-image: url("/bg.png");
  background-repeat: round;
  background-size: cover;
}

.radix-themes {
  --cursor-button: pointer;
  --cursor-checkbox: pointer;
  --cursor-disabled: default;
  --cursor-link: pointer;
  --cursor-menu-item: pointer;
  --cursor-radio: pointer;
  --cursor-slider-thumb: grab;
  --cursor-slider-thumb-active: grabbing;
  --cursor-switch: pointer;
}
